/* Custom CSS to be delivered into the 'dist/' directory */
/*@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

* {
  font-family: 'Noto Serif', serif;
}
*/

@import url(https://fonts.googleapis.com/css?family=Quicksand);



h1 {
    font-family: 'Quicksand', sans-serif;
    padding:20px;
    font-weight: 700;
  }

.outer * {
  margin: 7px;
}

.topbar {
  height:50px;
  background-color: #46433A;
  text-align: right;

}


.left {

  width:50%;
  height: auto;
  float: left;

}

.right {
  float: right;
}

.jumbotron {

  background-color: #CE534D;
  /*width: 100%;*/
  text-align: center;
}
.formHorizontal * {
    width:500px;
    /*width:100px;*/
      margin: 0px auto;
    text-align: center;

}
.form-group {
  text-align: center;


}



