/* Custom CSS to be delivered into the 'dist/' directory */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import  url('https://fonts.googleapis.com/css?family=Oswald');


/*li{
  display: inline;
}*/

body {
  background-color: #F5F5F5
}
h1 {
    font-family: 'Oswald', sans-serif;
    padding:20px;
    font-weight: 900;
    color: black
  }

h2 {
    font-family: 'Oswald', sans-serif;
    padding:20px;
    font-weight: 700;
  }

h3 {
    font-family: 'Oswald', sans-serif;
    padding:20px;


}

.login-form{
  float: right
}
.login-input{
  height: 70%;
  width: 200px;
  margin: 7px auto;
}

.navbar{
  height: 30px;
  background-color: #303F9F;
  margin: 0px;
  border: none;
  border-radius: 0px

}
.outer{
  width: 80%;
  margin: auto;
}

button  {
  font-size: 8px;
  margin: 8px;
  font-family: 'Oswald', sans-serif;

}

.jumbotron {

  background-color: #3F51B5;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 10px 5px #C9C9C9;
  color: white
}

.post-container {
  width: 60%;
  margin: 0px 20%;

}

.post-new-btn{
  margin-top: 50px;
  height: 60px;
  width: 500px;
  background-color: #CDDC39;
  border: none;
  font-size: 18px;
  color: white;
}

.post-new-btn:hover{
    background-color: #3DD102;
    color: white;
}

.formHorizontal * {
    width:500px;
    /*width:100px;*/
    margin: 0px auto;
    text-align: center;

}

.item-list{
  width: 60%;
  margin: auto;
  float: left;
}

.item-list button{
  margin-top: 0px
}

.item-panel{
  width: 90%;
}

.users-things{
  width: 40%;
  margin: auto;
  float: left
}

.users-things button{
  margin-top: 0px
}

.edit-container {
  width: 50px;
  margin-right: 0px;
}

.available-items-container{
  background-color: white;
  box-shadow:2px 2px 10px 10px #C9C9C9;
}



.left {
  width:50%;
  height: auto;
  float: left;
}

.right {
  float: right;

}

.form-group {
  text-align: center;

}

/*  Borrow Button */
.borrow.btn.btn-info {


  background-color: #64B6B1;
    border-color: #64B6B1;
}


.edit-btn{

}

.itemListAc .panel-default  .panel-heading {
    color: #000;
    font-family: 'Oswald';
    background-color: #FFF;
    margin: 0px;
}

.zip-btn {
  background-color: #303F9F;
  margin-top:10px;
  height: 40px;
  border:none;
}
.zip.btn.btn-primary:hover {
  background-color: #cc0000;
}

.bigBody {

}

.page-footer.orange.text-center * {
  clear:both;
  text-align: center;
  width: auto;
  height:100px;
  margin: 50px auto;
  color: #ccc;
}

