/* Custom CSS to be delivered into the 'dist/' directory */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import  url('https://fonts.googleapis.com/css?family=Oswald');


/*li{
  display: inline;
}*/

body {
  background-color: #F5F5F5
}
.jumbotron h1 {
    font-family: 'Oswald', sans-serif;
    padding:20px;
    font-weight: 900;
    color: #E54028;

  }

  div .jumbotron {
    background-color: #FFF;
     border-bottom: .25px solid #ccc;
  }

  .jumbotron h3, span {

   color: #616161;

  }
h1 {
    font-family: 'Oswald', sans-serif;
    padding:20px;
    font-weight: 700;
  }
h2 {
    font-family: 'Oswald', sans-serif;
    padding:20px;
    font-weight: 700;
  }

h3 {
    font-family: 'Oswald', sans-serif;
    padding:20px;


}

.login-form{
  float: right
}
.login-input{
  height: 70%;
  width: 200px;
  margin: 7px auto;
}

.navbar{
  height: 30px;
  background-color: #616161;
  margin: 0px;
  border: none;
  border-radius: 0px

}
.outer{
  width: 80%;
  margin: auto;
}

button  {
  font-size: 8px;
  margin: 8px;
  font-family: 'Oswald', sans-serif;

}

.jumbotron {

  width: 100%;
  text-align: center;
  /*box-shadow: 2px 2px 10px 5px #C9C9C9;*/
  color: white
}

.item-list h1 {

  color: #61AE24;
}
.post-container {
  width: 60%;
  margin: 0px 20%;

}

.post-new-btn{
  margin-top: 5px;
  height: 60px;
  width: 500px;
  background-color: #01A4A4;
  border: none;
  font-size: 18px;
  color: white;
}

.post-new-btn:hover{
    background-color: #00cccc;
    color: white;
}

.formHorizontal * {
    width:500px;
    /*width:100px;*/
    margin: 0px auto;
    text-align: center;

}

.item-list{
  background-color: white;
  /*box-shadow:2px 2px 10px 10px #C9C9C9;*/
  width: 60%;
  float: left;
}

.item-list button{
  margin-top: 0px
}

.item-panel{
  width: 90%;
}

.users-things{
  width: 40%;
  margin: auto;
  float: left
}

.users-things button{
  margin-top: 0px
}

.edit-container {
  width: 50px;
  margin-right: 0px;
}




.left {
  width:50%;
  height: auto;
  float: left;
}

.right {
  float: right;

}

.form-group {
  text-align: center;

}

/*  Borrow Button */
.borrow.btn.btn-info {


  background-color: #64B6B1;
    border-color: #64B6B1;
}


.edit-btn{

}

.itemListAc .panel-default  .panel-heading {
    color: #000;
    font-family: 'Oswald';
    background-color: #FFF;
    margin: 0px;
}

.zip-btn {
  background-color: #32742C;;
  margin-top:5px;
  height: 40px;
  border:none;
}
.zip-btn:hover {
  background-color: #61AE24;
  margin-top:5px;
  height: 40px;
  border:none;
}

/*.zip.btn.btn-primary:hover {
  background-color: #61AE24;
}*/

.bigBody {
  background-color: #FFF;

}

.page-footer.orange.text-center * {
  clear:both;
  text-align: center;
  width: auto;
  height:100px;
  margin: 50px auto;
  color: #ccc;
}

.modal-content *{
  color: #616161;
  padding:3px;
  margin: 3px;
}


.ownedContainer h2 {
  color: #01A4A4;
}




.list-group {


}



